/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside {
	margin: 0;
	padding: 0;
	border: 0;
	line-height:1.7;
}

/* Style rules for body and images */
body {
	background-color: #0000FF;
	color:white;
}

header{
	padding:1em;
}
main{
	margin:5em;
	background-color: #252526;
}

nav{
	margin-left:120px;
	padding:20px;
}

#container{
	padding:5em;
}

#main-container{
	display:flex;
	justify-content: flex-end;
	height:1105px;
}

#main-container p{
	font-family:'Courier New', Courier, monospace;
}

h1{
	font-size: 3em;
	font-family:"punk";
	text-shadow:2px 2px black;
}

h3{
	font-size:20px;
	font-family: "Pixelated MS Sans Serif",Arial;
}

h4{
	font-size:17px;
	margin:0;
}

hr{
	width:100%;
}

.sidebar {
  height: auto;
  width: 260px;
  position: absolute;
  left: 0;
  padding-top: 40px;
  background-color: lightblue;
  font-family:"Pixelated MS Sans Serif",Arial;
  box-shadow: 3px 2px black;
}
.sidebar div{
	font-size:20px;
	font-weight: bold;
}
.sidebar li {
  padding: 5px;
  font-size: 17px;
  display: block;
  border-bottom:3px solid grey;
}
.sidebar li a:hover{
	color:black;
}
.sidebar li a{
	text-decoration:none;
	color:white;
}
.body-text {
  margin-left: 150px;
  font-size: 18px;
}

.clef{
	width:35%;
	display:block;
	margin-left: auto;
}

.codeGif{
	width:53%;
}

ul{
	list-style-type: none;
}


@font-face {
	font-family: "punk";
	src: url("fonts/Punk West.otf");
}