/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside {
	margin: 0;
	padding: 0;
	border: 0;
	line-height:1.7;
}

/* Style rules for body and images */
body {
	background-color: #0000FF;
	color:white;
}

header{
	padding:1em;
}
main{
	margin:5em;
	background-color: #252526;
}

nav{
	margin-left:120px;
	padding:20px;
}

#container{
	padding:5em;
}

#main-container{
	display:flex;
	justify-content: flex-end;
	height:1240px;
}

#main-container p{
	font-family:'Courier New', Courier, monospace;
}

#main-container span {
	font-family:"Pixelated MS Sans Serif",Arial;
	font-size:14px;
	font-style:italic;
}

h1{
	font-size: 3em;
	font-family:"punk";
	text-shadow:2px 2px black;
}

h3{
	font-size:20px;
	font-family: "Pixelated MS Sans Serif",Arial;
}

h4{
	font-size:17px;
	margin:0;
}

hr{
	width:100%;
}

a{
	text-decoration: none;
	color:transparent;
}

.sidebar {
  height: auto;
  width: 260px;
  position: absolute;
  left: 0;
  padding-top: 40px;
  background-color: lightblue;
  font-family:"Pixelated MS Sans Serif",Arial;
  box-shadow: 3px 2px black;
}
.sidebar div{
	font-size:20px;
	font-weight: bold;
}
.sidebar li {
  padding: 5px;
  font-size: 17px;
  display: block;
  border-bottom:3px solid grey;
}
.sidebar li a:hover{
	color:black;
}
.sidebar li a{
	text-decoration:none;
	color:white;
}
.body-text {
  margin-left: 150px;
  font-size: 18px;
}

.clef{
	width:35%;
	display:block;
	margin-left: auto;
}

.column-divider{
	display:flex;
	justify-content:flex-start;
}

.codeGif{
	width:53%;
}

ul{
	list-style-type: none;
}

.window {
	filter: drop-shadow(black -1rem 1rem 10px);
}

.window-body p {
	text-shadow: 2px 2px 2px #000, 5px 5px 5px #000;
}


.simple{
	font-family: "simple";  
	font-style: italic;
    text-shadow: -5px 5px 0 black;

}


/*text effects*/
.shadow-dance-text {
	font-family:"punk";
    font-size: 26px;
	letter-spacing: 3px;
    color: #fff;
    text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
    animation: shadow-dance 2s infinite;
}

@keyframes shadow-dance {
    0%, 100% {
        text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
    }
    50% {
        text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #ff005e;
    }
}

.matrix-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 2; /* Ensure it stays above the rain effect */
}

.matrix-text {
  color: #0f0;
  font-size: 80px;
  font-family: monospace;
  position: relative;
  text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0;
  z-index: 2; /* Ensure it stays above the rain effect */
}

.matrix-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: glitch 2s infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-2px, -2px);
  color: #0f0;
  text-shadow: 0 0 5px #0f0, 0 0 15px #0f0;
}

.rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 255, 0, 0.1) 0,
    rgba(0, 255, 0, 0.2) 2px,
    transparent 4px
  );
  animation: rain 10s linear infinite;
  z-index: 1; /* Place it behind the text */
}

/* Animation for the rain effect */
@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

/* Glitch effect for the text */
@keyframes glitch {
  0%, 100% {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(0);
  }
  33% {
    clip-path: polygon(0 0, 100% 0, 100% 15%, 0 15%);
    transform: translate(-5px, -5px);
  }
  66% {
    clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
    transform: translate(5px, 5px);
  }
}


.glitch
  {
    position: relative;
  }

.glitch:before
  {
    opacity: .5;
    mix-blend-mode: hard-light;
    animation: glitch2 10s linear infinite;
  }

.glitch:hover:before
{
	animation: glitch1 1s linear infinite;
}

@keyframes glitch1
{
	0%
	{
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}
	10%
	{
		background-position: 5px 0;
	}
	20%
	{
		background-position: -5px 0;
	}
	30%
	{
		background-position: 15px 0;
	}
	40%
	{
		background-position: -5px 0;
	}
	50%
	{
		background-position: -25px 0;
	}
	60%
	{
		background-position: -50px 0;
	}
	70%
	{
		background-position: 0 -20px;
	}
	80%
	{
		background-position: -60px -20px;
	}
	81%
	{
		background-position: 0 0;
	}
	100%
	{
		background-position: 0 0;
		filter: hue-rotate(360deg);
	}
}

@keyframes glitch2
{
	0%
	{
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}
	10%
	{
		background-position: 15px 0;
	}
	15%
	{
		background-position: -15px 0;
	}
	20%
	{
		filter: hue-rotate(360deg);
	}
  25%
	{
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}
  100%
	{
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}
}


.citylights{
  animation: lights 5s 750ms linear infinite;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}


@font-face {
	font-family: "punk";
	src: url("fonts/Punk West.otf");
}

@font-face {
	font-family: "simple";
	src: url("fonts/American_Idiot.ttf");
}
